
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navBg{
    background-color: rgba(50, 70, 86,50);
    color: white;
}
.title{
    color: #f0f0f0;
    font-size: 25px;
    font-weight: 700;
}
#title-color{
    color: #00adef;
}
#search-button{
    background-color: #00adef;
    color: #f0f0f0;
}
#sign{
    background-color: #00adef;
    color: #f0f0f0;
}
.bi{
    font-size: 20px;
    color: #f0f0f0;
    background-color: black;
    padding: 0px 4px 3px 4px;
    border-radius: 50%;
}
.main-body{
    background-color: #00adef;
}
.welcome{
    font-family: 'Pacifico', cursive;
    
}
.second-part{
    margin-top: 40px;
    /* background-color: darkslateblue; */
    background-color: darkcyan;
    padding: 25px;
}